.show-images {
  padding: 10px;
}

.flex {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.flex div:nth-child(2) {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.image-grid {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 20px;
}

.image-container {
  width: 200px;
  height: 200px;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
